*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
}
body {
  font-family: "sans-works", sans-serif;
}

body {
  /* background-color: var(--purple-100); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.faq-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1100px;
  background: url(images/background-pattern-desktop.svg) no-repeat top center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-100);
}

.faq {
  background-color: var(--purple-600);
  width: 100%;
  max-width: 1100px;
  height: 100vh;
  max-height: 50vh;
  border-radius: 12px;
}
